.footer {
  background: #000000;
  max-width: 400px;
  margin-top: 0;
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0 1rem;
}

.footer__texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer__container h1 {
  font-weight: bold;
  font-size: 1.55rem;
  color: #ffffff;
  margin: 0 !important;
}

.footer__contato {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer__contato li a img {
  margin: 4rem  0 1rem;
  width: 30px;
}

.footer__copy {
  font-size: .725rem;
  color: #8f8f8f;
}


