.header {
  width: 100%;
  max-width: 400px;
  position: fixed;
  z-index: 9999;
}

.container-fluid > button{
  color: #141414;
  background: #FFEC9E;
  padding: .4rem;
  border: 3px solid #141414;
  font-weight: 500;
}
