.background__image {
  width: 100%;
  max-width: 400px;
  background-image: url("/img/fundo.jpg");
  padding-bottom: 1rem;
}

.introducao {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem 1rem;
  gap: 1rem;
}

.introducao p {
  font-size: 1rem;
}

.titulo {
  margin-top: 5rem;
  padding: 1rem;
  background-color: #ffec9e;
  border: 3px solid #141414;
  border-radius: 10px;
}

.titulo > p {
  font-size: 2.75rem;
  line-height: 2.75rem;
  font-weight: bold;
  color: #141414;
  padding: 1rem;
}

.introducao > .imagem {
  background-color: #fcfcfc;
  border-radius: 100%;
}
